<div class="largenav">
    <header>
        <div class="logoh1">
            <picture>
                <img src="/images/logo.jpg" alt="logo" />
            </picture>
            <section class="header">
                <h1><%= pageTitle %></h1>
            </section>
        </div>
    </header>
    <nav>
        <ul class="nav-items">
            <li><a class="hamburger button" href="#">🍔 Menu</a></li>
            <li><a href="/index">Home</a></li>
            <li class="<%= path ==='/week1' ? 'active' : '' %>"><a href="/week1">Week
                    One</a></li>
            <li class="<%= path ==='/week2' ? 'active' : '' %>"><a href="/week2">Week
                    Two</a></li>

            <li class="<%= path ==='/week3' ? 'active' : '' %>"><a href="/week3">Week
                    Three</a></li>

            <li class="<%= path ==='/week4' ? 'active' : '' %>"><a href="/week4">Week
                    Four</a></li>

            <li class="<%= path ==='/week5' ? 'active' : '' %>"><a href="/week5">Week
                    Five</a></li>

            <li class="<%= path ==='/week6' ? 'active' : '' %>"><a href="/week6">Week
                    Six</a></li>

            <li class="<%= path ==='/week7' ? 'active' : '' %>"><a href="/week7">Week
                    Seven</a></li>

            <li class="<%= path ==='/week8' ? 'active' : '' %>"><a href="/week8">Week
                    Eight</a></li>

            <li class="<%= path ==='/week9' ? 'active' : '' %>"><a href="/week9">Week
                    Nine</a></li>
            <li class="<%= path ==='/week10' ? 'active' : '' %>"><a href="/week10">Week
                    Ten</a></li>
            <li class="<%= path ==='/week11' ? 'active' : '' %>"><a href="/week11">Week
                    Eleven</a></li>
            <li class="<%= path ==='/week12' ? 'active' : '' %>"><a href="/week12">Week
                        Twelve</a></li>
            <li class="<%= path ==='/week13' ? 'active' : '' %>"><a href="/week13">Week
                                Thirteen</a></li>
        </ul>
    </nav>
</div>